body {
    background-color: rgb(28, 52, 194);
}

.menu{
    display: flex;
    color: black;
    margin: 20px;
}

.submenu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
}

#color-picker {
    height: 100px;
    width: 100px;
}

.paint-here{
    width:1000px;
}

.col-sm{
    border: .5px black solid;
    height: 20px;
    width: 20px;
    text-align: center;
    flex-wrap: wrap;

}