/* Rony: HP bar style */
progress {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid black;
    border-radius: 15px;
    width: 100px;
}

progress[value]::-webkit-progress-bar {
    background-color:rgb(253, 236, 236);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  }
